@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Pontano+Sans&display=swap');
.name {
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
}
/* .homeSection{
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    color: #fff;
    transition: color 0.3s ease, opacity 0.3s ease 0.65s;
    z-index: 7;
} */
.content {
  width: 75%;
  margin: 0 auto;
}
.main-home-text {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  color: #fff;
  transition: color 0.3s ease, opacity 0.3s ease 0.65s;
  z-index: 7;
}
.main-home-title {
  font-family: "Josefin Sans", sans-serif;
}
.main-home-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 25px;
}
.main-home-text .content {
  padding-left: 60px;
}

.the-button,
button {
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  padding: 0;
  border: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
}
.the-button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.the-button .button-text {
  position: relative;
  z-index: 10;
}
.the-button .button-mask {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.the-button .button-mask:after,
.the-button .button-mask:before {
  will-change: transform;
}
.the-button .button-mask:before {
  width: 100%;
  background-color: #00334b;
  background: linear-gradient(270deg, #0086ac, #00334b);
  transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
    -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  z-index: 1;
}
.the-button .button-mask:after,
.the-button .button-mask:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
}
.the-button .button-mask:after {
  width: 80%;
  background-color: #003f5c;
  background: linear-gradient(270deg, #006481, #003f5c);
  transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1),
    -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 2;
}

.the-button:hover .button-mask:before {
  transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
    -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
}
.the-button:hover .button-mask:after {
  transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1),
    -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.the-button:hover .button-mask:after,
.the-button:hover .button-mask:before {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.the-button {
  font-family: League Spartan, Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  letter-spacing: 3px;
  padding: 12px 20px;
  background-color: #008ba1;
  background: linear-gradient(270deg, #008ba1, #10b3bc);
  color: #fff;
  position: relative;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .h1 {
    font-size: 50px;
  }
}
.homeSvg {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  opacity: 0.6;
  width: 300px;
  z-index: 3;
}

@media only screen and (max-width:604px) {

  .homeSvg{
    width: 200px;
  }
  .content{
    width: 80%;
  }
}
@media only screen and (max-width:404px) {

  .homeSvg{
    left: 40%;
  }
  .content{
    width: 85%;
  }
}
@media only screen and (max-width:325px) {
.content{
  margin: 0;
}
}