@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Pontano+Sans&display=swap");
.container {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 12%;
  width: 30px;
  height: 20px;
  transition: all 0.5s ease;
}

.bars {
  width: 30px;
  height: 4px;
  background: #c6c6c6;
}

.bars::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  margin-left: 10px;
  background: #c6c6c6;
}
.bars::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #c6c6c6;
}

.bars::before {
  margin-top: 9px;
}

.bars::after {
  margin-top: 18px;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 50px 0;
}

nav ul li a {
  color: #fafafa;
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  opacity: 0;
  pointer-events: none;
}

nav ul li a:after {
  content: "";
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  bottom: -10px;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

nav ul li a:hover:after {
  transform: scaleX(1);
}

nav .close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 6%;
  right: 12%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

nav h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  font-size: 2em;
}

nav .close div::before,
nav .close div::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: background 0.5s ease;
}
nav .close div::before {
  transform: rotate(-45deg);
}

nav .close div::after {
  transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after {
  background: rgb(209, 3, 3);
}

.NavHead {
  display: flex;
  justify-content: flex-start;
}

.navlogo img {
  position: absolute;
  top: 3%;
  left: 10%;
  width: 65px;
  height: 65px;
}
.navlogoBW {
  position: absolute;
  top: 3%;
  left: 10%;
  transform: translate(-50% -50%);
  z-index: 200;
  opacity: 0;
}
.navlogoBW img {
  width: 65px;
  height: 65px;
}
@media (max-width: 992px) {
  nav h1 {
    font-size: 25px;
  }
  nav .close {
    right: 9%;
  }
  .container {
    right: 9%;
  }
  .navlogo img {
    left: 7%;
  }
  .navlogoBW {
    left: 7%;
  }
}
