@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Pontano+Sans&display=swap");
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Pontano Sans', sans-serif;

#003f5c
#006481
#008ba1
#10b3bc
#4bddd0

*/
html {
  scroll-behavior: smooth;
}
::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #003f5c;
}

::selection {
  color: #ffffff;
  background: #003f5c;
}

.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 200;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #4bddd0;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1c1d25;
}
::-webkit-scrollbar-thumb {
  background: #4bddd0;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.navOpen{
  max-height: 100vh;
  transition: all 0.5s ease;
}
.rotate1{
  transition: all 0.5s ease;
  margin-bottom: 3px;
  transform:rotate(180deg);
}
.divbody {
  width: 100%;
  min-height: 100vh;
  color: white;
  background: #1c1d25;
  /* min-height: 100vh; */
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Josefin Sans", sans-serif;
  color: inherit;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.h1,
h1 {
  margin-bottom: 0.1875566421em;
  font-size: 2.999396em;
  line-height: 1.1253398526;
}

@media only screen and (min-width: 43.75em) {
  .h1,
  h1 {
    margin-bottom: 0.132642604em;
    font-size: 3.827145944em;
    line-height: 1.0611408323;
  }
}
@media only screen and (min-width: 56.25em) {
  .h1,
  h1 {
    margin-bottom: 0.0938066507em;
    font-size: 4.9975843648em;
    line-height: 0.9380665066;
  }
}
.h2,
h2 {
  margin-bottom: 0.2652050919em;
  font-size: 2.414em;
  line-height: 1.3260254597;
}
@media only screen and (min-width: 43.75em) {
  .h2,
  h2 {
    margin-bottom: 0.1875566421em;
    font-size: 2.999396em;
    line-height: 1.1253398526;
  }
}
@media only screen and (min-width: 56.25em) {
  .h2,
  h2 {
    margin-bottom: 0.132642604em;
    font-size: 3.827145944em;
    line-height: 1.0611408323;
  }
}
.h3,
h3 {
  margin-bottom: 0.2652050919em;
  font-size: 2.414em;
  line-height: 1.3260254597;
}
@media only screen and (min-width: 56.25em) {
  .h3,
  h3 {
    margin-bottom: 0.1875566421em;
    font-size: 2.999396em;
    line-height: 1.1253398526;
  }
}
.h4,
h4 {
  margin-bottom: 0.2652050919em;
  font-size: 2.414em;
  line-height: 1.3260254597;
}
.h5,
.h6,
h5,
h6 {
  margin-bottom: 0.375em;
  font-size: 1.5em;
  line-height: 1.5;
}
p {
  font-size: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.3em;
}
@media only screen and (min-width: 43.75em) {
  p {
    text-align: justify;
  }
}
.small,
small {
  font-size: 1.7072135785em;
  line-height: 1.59075;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
.sideDiv {
  position: fixed;
  bottom: 5%;
  left: 3%;
  transform: translate(-50%);
  transition: all 0.5s ease;
}

.sideDiv1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: 52px;
  height: 52px;
  background: #000000;
  border-radius: 50%;
  transition: all 1s ease;
  z-index: 100;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sideDiv1Rotate {
  transform: translate(-50%) rotate(225deg);
}
.sideDiv2 {
  position: fixed;
  bottom: 5%;
  right: 0%;
  transform: translate(-50%) rotate(-90deg);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  width: 52px;
  height: 52px;
  background: #000000;
  border-radius: 50%;
  transition: all 1s ease;
  z-index: 100;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: white;
}
.sideDiv2 span{
  margin-top: 3px;
}
.side1 {
  bottom: 13%;
}
.side2 {
  bottom: 21%;
}
.side3 {
  bottom: 29%;
}
.about-side {
  display: inline-flex;
  align-items: center;
}
.about-side h3 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 10px;
}
.aboutSide {
  width: 150px;
  border-bottom: 5px white solid;
  border-radius: 5px;
}
@media only screen and (max-width: 1000px) {
  .sideDiv {
    margin-left: 20px;
  }
  .aboutSide {
    width: 100px;
  }
}
@media only screen and (max-width: 550px) {
  .aboutSide {
    width: 50px;
  }
}

@media only screen and (max-width: 404px) {
  .sideDiv {
    margin-left: 25px;
  }
}
